{% extends 'base.html' %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">

	<!-- Fancybox -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">

{% endblock %}

{% block content %}

	<div class="bg-primary py-5 mb-5">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-lg-12">
					<h2 class="display-4 text-white mt-5 mb-2">My Account</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }}">
								{{ message }}								
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>
		<!-- Intro Info -->
		<div class="row">
			<div class="col-md-8 mb-5">
				<h2>{{ current_user.name }}</h2>
				<hr>
				<div class="row">
					<div class="col-md-4 imagediv">
						<a data-fancybox data-src='#addImage' href=""><img src="{{ image_file }}"></a>
					</div>
					<div class="col-md-8">
						<p>{{ current_user.self_desc }}</p>
						<div class="row">
							<div class="col-md-6">
								{% if not current_user.cv_file %}
									<small><a data-fancybox data-src='#addCV' href="">Add CV</a></small>
								{% elif current_user.cv_file %}
									<form method="POST" action="">
										{{ viewcvform.csrf_token }}
										{{ viewcvform.graduate(style="display:none;", value=current_user.id) }}
										<small>{{ viewcvform.submit(class="looklikelink") }}</small>
										<br>
										<small><a data-fancybox data-src='#addCV' href="">Update CV</a></small>
									</form>
								{% endif %}
							</div>
							<div class="col-md-6 text-right">
								<small><a data-fancybox data-src='#addDesc' href="">Edit</a></small>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12 card">
						<div class="card-body">
							<h3 class="card-title">Your Bank Details</h3>
							<p class="card-text">Your account number and sortcode</p>
							<small><a href="{{ url_for('bankdetails') }}">Edit</a></small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-5">
				<h3>My Details</h3>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<div class="card degree">
							<div class="card-body">
								<h4 class="card-title">Your Degree Title</h4>
								<p class="card-text">Institution<br>Graduated year</p>
								<small><a data-fancybox data-src='#addDegree' href="">Edit</a></small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fancybox -->
	<div style="display: none;" id="addCV">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	            	<h4>Upload CV file</h4>
	            	<form method="POST" action="" enctype="multipart/form-data">
	            		<div>
	            			<div class="form-group">
	            				{{ cvform.csrf_token }}
	            				{{ cvform.cv_file(class="form-control-file") }}
	            				{% if cvform.cv_file.errors %}
	            					{% for error in cvform.cv_file.errors %}
	            						<span class="text-danger">{{ error }}</span></br>
	            					{% endfor %}
	            				{% endif %}
	            			</div>
	            			<hr>
	            			{{ cvform.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}
	            		</div>
	            	</form>
	            </div>
	        </div>
	    </div>
	</div>
	<div style="display: none;" id="addImage" enctype="multipart/form-data">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	            	<h4>Upload CV file</h4>
	            	<form method="POST" action="">
	            		<div>
	            			<div class="form-group">
	            				{{ imageform.csrf_token }}
	            				{{ imageform.image_file(class="form-control-file") }}
	            				{% if imageform.image_file.errors %}
	            					{% for error in imageform.image_file.errors %}
	            						<span class="text-danger">{{ error }}</span></br>
	            					{% endfor %}
	            				{% endif %}
	            			</div>
	            			<hr>
	            			{{ imageform.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}
	            		</div>
	            	</form>
	            </div>
	        </div>
	    </div>
	</div>
	<div style="display: none;" id="addDesc">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <h4>About Me</h4>
	                <form id="aboutform" method="POST" action="">
						<div class="form-group">
							{{ aboutform.csrf_token }}

							{% if aboutform.self_desc.errors %}
								{{ aboutform.self_desc(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in aboutform.self_desc.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ aboutform.self_desc(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<hr>
						{{ aboutform.submit(id="submitbutton", class="btn btn-lg btn-primary btn-block text-uppercase") }}
	                </form>
	            </div>
	        </div>
	    </div>
	</div>

	<div style="display: none;" id="addDegree">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <h4>My Degree</h4>
	                <form id="aboutform" method="POST" action="">
	                	{{ degreeform.csrf_token }}
						<div class="form-group">
							
							{{ degreeform.title.label(class="form-control-label") }}

							{% if degreeform.title.errors %}
								{{ degreeform.title(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in degreeform.title.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ degreeform.title(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ degreeform.institution.label(class="form-control-label") }}

							{% if degreeform.institution.errors %}
								{{ degreeform.institution(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in degreeform.institution.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ degreeform.institution(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group">
							{{ degreeform.grad_year.label(class="form-control-label") }}

							{% if degreeform.grad_year.errors %}
								{{ degreeform.grad_year(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in degreeform.grad_year.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ degreeform.grad_year(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<hr>
						{{ degreeform.submit(id="submitbutton", class="btn btn-lg btn-primary btn-block text-uppercase") }}
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	



{% endblock content %}

{% block js %}

	<script type="text/javascript" src="{{ url_for('static', filename='javascript/account.js') }}"></script>

	<!-- Fancybox -->
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.fancybox.min.js') }}"></script>

{% endblock %}