{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block content %}

	<header class="py-10 mb-5"></header>

	<main class="container">
		<div class="row">
			<div class="col-md-8"></div>
			<div class="col-md-8">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, messages in messages %}
							<div class="alert alert-{{ category }}">
								{{ message }}								
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
			<div class="py-10 mb-5">
				<p>HEllo</p>
			</div>
		</div>
	</main>



{% endblock content %}