{% extends 'base.html' %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/business-frontpage.css') }}">

{% endblock %}

{% block content %}
	<!-- Header -->
	<div class="bg-primary py-5 mb-5">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-lg-12">
					<h1 class="display-4 text-white mt-5 mb-2">Donate to Graduates</h1>
					<p class="lead mb-5 text-white-50">Spend your hard earned cash on lazy jobless graduates</p>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search for Graduates" aria-label="Search">
						<button class="btn btn-light my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- MAIN -->
	<div class="container">
		<!-- Intro Info -->
		<div class="row">
			<div class="col-md-8 mb-5">
				<h2>Donating</h2>
				<hr>
				<p>*Insert deep and moving paragraph about the good that donations can do*<br>Spend your hard earned cash on helping lazy jobless graduates do what they do best - nothing. Fund their existence!</p>
				<a class="btn btn-primary btn-lg" href="/donate">Donate Now &raquo;</a>
			</div>
			<div class="col-md-4 mb-5">
				<h2>Are you a Graduate?</h2>
				<hr>
				<p>You can get money from randomers for being an absolute nobody with crippling debt and depression.<br>Sign up <a href="{{ url_for('accounts.register') }}">NOW</a></p>
			</div>
		</div>
		<!-- Profiles -->
		<div class="row">
			{% for grad in grads %}
			<div class="col-md-4 mb-5">
				<div class="card h-100">
					<img class="card-img-top" src="https://placehold.it/300x200" alt="">
					<div class="card-body">
						<h4 class="card-title">{{ grad.name }}</h4>
						<p class="card-text">{{ grad.self_desc }}</p>
					</div>
					<div class="card-footer">
						<button data-gradid="{{ grad.id }}" class="btn btn-primary donateButton">Donate</button>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}

{% block js %}

	<script type="text/javascript" src="{{ url_for('static', filename='javascript/index.js') }}"></script>

{% endblock %}
